body{
	background-image: url(https://www.bankerwire.com/sites/default/files/styles/project_gallery_large_1800x/public/projects/statue-liberty-renovation/statue-liberty-renovationhero_0.jpg?itok=9ffXoVRj)
}


h1 { 
	font-size: 40px ; color: black; 
}

p {
	color: black
}

h4 {
	font-size: "100px"
}
