body{
	background-image: url(https://www.bankerwire.com/sites/default/files/styles/project_gallery_large_1800x/public/projects/statue-liberty-renovation/statue-liberty-renovationhero_0.jpg?itok=9ffXoVRj)
}


}


h1 { 
	font-size: 40px ; color: black; 
}

p {
	color: black
}

h4 {
	font-size: "100px"
}



h1{
  font-weight: 500;
}

h2{
  font-family: Niveau Grotesk;
  font-size: 38px;
  margin-bottom: 50px;
}

h3{
  font-family: Niveau Grotesk;
  font-size: 34px;
}

body.home{
  background: url(../img/image.jpeg);

}

body.notHome{
  background-color: skyblue
}

body{
  padding-top: 70px;
  max-width: 100%;
  text-align: center;
}

.navbar{
  background-color: black;
}

.navBar{
  float: right;
  margin-right: 50px;
  color: skyblue;
  padding-top: 12px;
}

a{
  color: skyblue;
  margin-right: 20px;
}

.currentLink{
  color: silver;
}

#itsMe{
  
  font-family: Niveau Grotesk;
  color: black;
}

.lights{
  color: #FFFF66;
}

#octoCat{
  width: 25px;
  height: auto;
}

ul{
  list-style: none;
  font-size: 22px;
}

ul a{
  color: darkgreen;
}

#emailForm{
  height: 100px;
  width: 50%;
}

#aboutText p{
  font-size: 16px;
}

#education{
  text-align: left;
}

#education p{
  font-size: 16px;
}

#education li{
  font-size: 16px;
}

#Hobbies p{
  font-size: 16px;
}

#Hobbies li{
  font-size: 16px;
}

ol{
  list-style: inherit;
}

.aboutShowing{
  display: none;
  cursor: crosshair;
}

.eduShowing{
  display: none;
  cursor: crosshair;
}

.interestsShowing{
  display: none;
  cursor: crosshair;
}

.moeShowing{
  display: none;
  cursor: crosshair;
}

.sillyShowing{
  display: none;
  cursor: crosshair;
}

.vacaShowing{
  display: none;
  cursor: crosshair;
}

.shroomShowing{
  display: none;
  cursor: crosshair;
}

.aboutHidden{
  cursor: crosshair;
}

.eduHidden{
  cursor: crosshair;
}

.interestsHidden{
  cursor: crosshair;
}

.moeHidden{
  cursor: crosshair;
}

.sillyHidden{
  cursor: crosshair;
}

.vacaHidden{
  cursor: crosshair;
}

.shroomHidden{
  cursor: crosshair;
}
.container3{
  background-image: url(../images/p.gif);
  background-repeat: no-repeat;
  background-size: cover;

}
.container3{
  background-image: url(../images/ws.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
.one{
  background-color: blue;
  margin-top: 20px;
}
.two{
  background-color: pink;
  background-color: lightgrey;
    width: 700px;
    border: 25px solid #9A8ADB;
    padding: 25px;
    margin-left: 300px;
    
}
.tw{
  background-color: blue;
  margin-top: 20px;
  margin-right: 80px;
  margin-left: 80px;
}
.read{
  background-color: blue;
  margin-top: 10px;
}

 #aboutText{
  background-image: url(../images/ws.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
