body{
  background-image: url(../images/lo.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


h1 { 
  font-size: 40px ; color: black; 
}

p {
  color: black
}

h4 {
  font-size: "100px"
}



h1{
  font-weight: 500;
}

h2{
  font-family: Niveau Grotesk;
  font-size: 38px;
  margin-bottom: 50px;
}

h3{
  font-family: Niveau Grotesk;
  font-size: 34px;
}

body.home{
  background: url(../img/image.jpeg);

}

body.notHome{
  background-color: skyblue
}

body{
  padding-top: 70px;
  max-width: 100%;
  text-align: center;
}

.navbar{
  background-color: black;
}

.navBar{
  float: right;
  margin-right: 50px;
  color: skyblue;
  padding-top: 12px;
}

a{
  color: skyblue;
  margin-right: 20px;
}

.currentLink{
  color: silver;
}

#itsMe{
  
  font-family: Niveau Grotesk;
  color: black;
}

.lights{
  color: #FFFF66;
}

#octoCat{
  width: 25px;
  height: auto;
}

ul{
  list-style: none;
  font-size: 22px;
}

ul a{
  color: darkgreen;
}

#emailForm{
  height: 100px;
  width: 50%;
}

#aboutText p{
  font-size: 16px;
}

#education{
  text-align: left;
}

#education p{
  font-size: 16px;
}

#education li{
  font-size: 16px;
}

#Hobbies p{
  font-size: 16px;
}

#Hobbies li{
  font-size: 16px;
}

ol{
  list-style: inherit;
}

.aboutShowing{
  display: none;
  cursor: crosshair;
}

.eduShowing{
  display: none;
  cursor: crosshair;
}

.interestsShowing{
  display: none;
  cursor: crosshair;
}

.moeShowing{
  display: none;
  cursor: crosshair;
}

.sillyShowing{
  display: none;
  cursor: crosshair;
}

.vacaShowing{
  display: none;
  cursor: crosshair;
}

.shroomShowing{
  display: none;
  cursor: crosshair;
}

.aboutHidden{
  cursor: crosshair;
}

.eduHidden{
  cursor: crosshair;
}

.interestsHidden{
  cursor: crosshair;
}

.moeHidden{
  cursor: crosshair;
}

.sillyHidden{
  cursor: crosshair;
}

.vacaHidden{
  cursor: crosshair;
}

.shroomHidden{
  cursor: crosshair;
}
.container3{
  background-image: url(../images/ws.gif);
  background-repeat: no-repeat;
  background-size: cover;



}
.container4{
  background-image: url(../images/ws.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
.container9{
  background-image: url(../images/ws.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
.one{
  background-color: blue;
  margin-top: 20px;
}
.two{
  background-color: pink;
  background-color: lightgrey;
  
  
  border: 10px solid #87aeed;
  padding: 25px;
  margin-left: 300px;
  background-image: url(../images/.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: blue;
  text-align: center;
    
}
.tw{
  background-color: blue;
  margin-top: 20px;
  margin-right: 80px;
  margin-left: 80px;
}
.read{
  background-color: blue;
  margin-top: 10px;
}

 #aboutText{
  background-image: url(../images/ws.gif);
  background-repeat: no-repeat;
  background-size: cover;
  
}
#education{
  background-image: url(../images/o.gif);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  
}
#Hobbies{
  background-image: url(../images/g.gif);
  background-repeat: no-repeat;
  background-size: cover;
  color: green;
  
}
#itsMe{
    background-color: #87aeed;
    width: 1000px;
    border: 25px solid blue;
    padding: 50px;
    margin: 10px;
    padding-right: 20px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;



    
}
#image1{
  background-position: center;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;

}
.img-circle{
display: block;
border-radius: 200px;
margin-top: 10px;
width: 300px;
height: 300px;
margin-bottom: 100px;
margin-right: 800;
opacity: 0.8px;
}
.contaier3:hover #img-circle{
  opacity: 0.8;
}
.contaier3{
  background-size: cover;
}

